<div class="container">
    <div class="header">
        <div class="header__left"></div>
            <img src="" alt="">
            <div class="input">
                <!-- search bar -->
                <form action="">
                    <input type="text" name="" id="" placeholder="Search... ">
                </form>
            </div>
        </div>
    <div class="home-header-left"></div>
    <div class="home-header-right">
        <div>
            <img src="" alt="">
            <span class="name">Mathar</span>
        </div>
    </div>
    <div>Notifications</div>

</div>