<div class="container">
    <div class="row mb-2">
        <div class="col-md-4">
            <img src="/assets/Mona_Lisa-restored.jpg" alt="">
        </div>
        <div class="col-md-4">
            <form>
                <input class="form-control form-control-md" type="email" placeholder="Email">
                <input class="form-control" type="password" placeholder="Mot de passe">
                <button type="submit" class="btn btn-primary">Connexion</button>
            </form>
        </div>
    </div>
</div>
